*.sdf
*.suo
qtroot.bat

out/

.qmake.stash
.vs/
ipch/
SceneExplorer.VC.db
SceneExplorer.sln
SceneExplorer.vcxproj
SceneExplorer.vcxproj.filters
debug/
release/
ui_mainwindow.h
ui_option.h
ui_optionexternaltoolsdialog.h
ui_optionfontdialog.h
ui_optionextension.h
ui_aboutdialog.h


/build-*
*.user
build/
.idea/workspace.xml

qtSamples/src/build-*

src/stable.h.cpp

