*.sdf
*.suo

.qmake.stash
.vs/
SceneExplorer.VC.db
SceneExplorer.sln
SceneExplorer.vcxproj
SceneExplorer.vcxproj.filters
debug/
release/
ui_mainwindow.h
ui_option.h

/build-*
*.user
build/
.idea/workspace.xml

qtSamples/src/build-*

src/stable.h.cpp

