set PYTHONEXE=C:\local\python3\python.exe
set QTROOT=C:\local\Qt
set QTVERSION=5.15.2

:: See under %QTROOT%\%QTVERSION%
set QTVERSIONTOOLS=msvc2019

:: Uncomment if Visual Studio 2015
:: call "C:\Program Files\Microsoft Visual Studio 14.0\Common7\Tools\VsDevCmd.bat"
:: set MAKE=nmake

:: Uncomment if Visual Studio 2017 x64
::call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
::set MAKE=nmake

:: Uncomment if Visual Studio 2019
call "C:\Program Files\Microsoft Visual Studio\2019\Community\Common7\Tools\VsDevCmd.bat"
set MAKE=nmake

:: Uncomment if MingW
::set PATH=%QTROOT%\Tools\mingw810_32\bin;%PATH%
::set MAKE=mingw32-make.exe


:: Common setting
set SOURCEDIR=src
set PRONAME=SceneExplorer

:: Output directory
set DISTDIR=C:\Linkout\SceneExplorer

:: Files under this directory will be copied to Output directory,
:: must contain bin/ffprobe.exe and bin/ffmpeg.exe
set FFMPEGSOURCEDIR=C:\LegacyPrograms\ffmpeg


:: Support tools
:: https://github.com/ambiesoft/FolderConfig/releases
set FOLDERCONFIGDIR=C:\Linkout\FolderConfig

:: https://www.vector.co.jp/soft/winnt/util/se378224.html
set FFCEXE=C:\LegacyPrograms\FFC\FFC.exe
